@import url("https://fonts.googleapis.com/css2?family=Carter+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");
header {
  position: fixed;
  height: 100vh;
  width: 280px;
  overflow-y: auto;
  left: 0;
  top: 0;
  background: #333b43c0;
}
header h1 {
  color: white;
  font-size: 1.7em;
  font-family: "Mukta", sans-serif;
}
header .nav-item {
  font-family: "Baloo 2", cursive;
  font-weight: 900;
  font-size: 1.05em;
  color: black;
}
header .nav-item a {
  color: whitesmoke;
}
header .nav-item a:hover {
  color: #c57206;
}
header .nav-item svg {
  max-width: 8%;
}
@media (max-width: 991.98px) {
  header .nav-item svg {
    max-width: 1.5em;
  }
}
@media (max-width: 991.98px) {
  header .blog-name {
    width: 100%;
    position: absolute;
    left: 0;
    top: -1rem;
  }
}
header ul ul li {
  height: 50px;
  width: 50px;
  background-color: #d2d0ca;
  border-radius: 50px;
}
header ul ul li svg {
  height: 50px;
  width: 50px;
}
header ul ul li:hover {
  width: 100px;
  transition: 0.5s;
}
@media (max-width: 991.98px) {
  header {
    position: static;
    width: inherit;
    height: auto;
  }
}
header #texto-profile {
  color: #d2d0ca;
  font-family: "Baloo 2", cursive;
  font-size: 1.1em;
}
header #img-nav {
  width: 250px;
}

.main-wrapper {
  margin-left: 280px;
}
@media (max-width: 991.98px) {
  .main-wrapper {
    margin-left: 0;
  }
}
.main-wrapper #img-profile {
  max-width: 400px;
}
@media (max-width: 767.98px) {
  .main-wrapper #img-profile {
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .main-wrapper #img-profile {
    max-width: 250px;
  }
}
@media (min-width: 1200px) {
  .main-wrapper #img-profile {
    max-width: 400px;
  }
}
.main-wrapper #titulo {
  font-family: "Carter One", cursive;
}
.main-wrapper section {
  background: #e2e1e0;
}
.main-wrapper section .container .titulo2 {
  position: relative;
  padding-left: 20px;
}
.main-wrapper section .container .titulo2:before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 100%;
  background: #54B689;
  position: absolute;
  left: 0;
  top: 0;
}
.main-wrapper section div div .item {
  background: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin-left: 4px;
}
@media (max-width: 991.98px) {
  .main-wrapper section div div .item {
    margin-left: 0px;
  }
}
.main-wrapper section div div .item:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.main-wrapper section div div .item-inner {
  display: block;
  text-align: center;
}
.main-wrapper section div div .item-icon {
  font-size: 1.875rem;
  max-width: 45%;
}
.main-wrapper section div div .item-icon svg {
  padding-left: 62%;
}
.main-wrapper #section-first {
  background-color: #e8e5dd7c;
}
.main-wrapper .projetos .container div .item-projetos {
  background: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
@media (max-width: 589px) {
  .main-wrapper .projetos .container div .img-projetos {
    width: 100%;
  }
}
.main-wrapper .projetos .container div .item-projetos:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -webkit-transform: scale(1.1);
  transform: scale(1.04);
}
.main-wrapper #collapseExample {
  margin-top: 5px;
  position: absolute;
  margin-left: 60vh;
  /*@media (max-width: 1280px) and (min-width:925px){
      margin-left: 74vh;

  }*/
}
@media (max-width: 1189px) {
  .main-wrapper #collapseExample {
    position: static;
    margin-left: 0;
    margin-top: 20px;
  }
}
@media (max-width: 1650px) and (min-width: 1188px) {
  .main-wrapper #collapseExample {
    margin-left: 74vh;
  }
}
.main-wrapper #collapseExample2 {
  margin-top: 5px;
  position: absolute;
  margin-left: 60vh;
}
@media (max-width: 1189px) {
  .main-wrapper #collapseExample2 {
    position: static;
    margin-left: 0;
    margin-top: 20px;
  }
}
@media (max-width: 1650px) and (min-width: 1280px) {
  .main-wrapper #collapseExample2 {
    margin-left: 74vh;
  }
}
.main-wrapper #collapseExample3 {
  margin-top: 5px;
  position: absolute;
  margin-left: 60vh;
}
@media (max-width: 1189px) {
  .main-wrapper #collapseExample3 {
    position: static;
    margin-left: 0;
    margin-top: 20px;
  }
}
@media (max-width: 1650px) and (min-width: 1280px) {
  .main-wrapper #collapseExample3 {
    margin-left: 74vh;
  }
}
.main-wrapper #collapseExample4 {
  margin-top: 100px;
}
@media (max-width: 1189px) {
  .main-wrapper #collapseExample4 {
    position: static;
    margin-left: 0;
    margin-top: 20px;
  }
}
@media (max-width: 1650px) and (min-width: 1280px) {
  .main-wrapper #collapseExample4 {
    margin-left: 74vh;
  }
}
.main-wrapper #collapseExample4 div {
  background-color: white;
}
.main-wrapper .teste-cola {
  background-color: transparent !important;
}
.main-wrapper .teste-cola .bg-light {
  background-color: black;
}

/*@media (max-width: 991.98px)
.header .blog-name {
    width: 100%;
    position: absolute;
    left: 0;
    top: 1.2rem;
}*/

/*# sourceMappingURL=stylesheet.css.map */
