//FONTES
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');



header{
    position: fixed;
    height: 100vh;
    width: 280px;
    overflow-y: auto;
    left: 0;
    top: 0;
    background: #333b43c0;
    h1{
        color: white;
        font-size: 1.7em;
        font-family: 'Mukta', sans-serif;
    }
    
    .nav-item{
        font-family: 'Baloo 2', cursive;
        font-weight: 900;
        font-size: 1.05em;
        color: black;
        a{
            color: whitesmoke;
        }
        a:hover{
            color: rgb(197, 114, 6);
        }
        svg{
            //color: whitesmoke;
            max-width: 8%;
            @media (max-width: 991.98px){
                max-width: 1.5em;
            }
        }
    }
    .blog-name{
        @media (max-width: 991.98px){
            width: 100%;
            position: absolute;
            left: 0;
            top: -1rem;
        }
    }
    ul{
        ul{
            li{ 
                height: 50px;
                width: 50px;
                background-color: #d2d0ca;
                border-radius: 50px;
                svg{
                    height: 50px;
                    width: 50px;
                }
            }
            li:hover{
                width: 100px;
                transition: 0.5s;
            }
        }
    }
    
    @media (max-width: 991.98px){
        position: static;
        width: inherit;
        height: auto;
    }
    
    #texto-profile{
        color: #d2d0ca;
        font-family: 'Baloo 2', cursive;
        font-size: 1.1em;
    }
    #img-nav{
        width: 250px;
    }
}
.main-wrapper{
    margin-left: 280px;
    @media (max-width: 991.98px) {
        margin-left: 0;}
        #img-profile{
            max-width: 400px;   
            @media (max-width: 767.98px){
                max-width: 100%;
            }
            @media (min-width: 992px) {
                max-width: 250px;
            }
            @media (min-width: 1200px){
                max-width: 400px;
            }
        }
        
        #titulo{
            font-family: 'Carter One', cursive;
        }
        section{
            background: #e2e1e0;
            .container{
                .titulo2{
                    position: relative;
                    padding-left: 20px;
                }
                
                .titulo2:before {
                    content: "";
                    display: inline-block;
                    width: 5px;
                    height: 100%;
                    background: #54B689;
                    position: absolute;
                    left: 0;
                    top: 0;
                }
            }
            div{
                div{
                    .item{
                        background: #ffffff;
                        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                        transition: all 0.3s cubic-bezier(.25,.8,.25,1); 
                        margin-left:4px;
                        @media (max-width: 991.98px){
                            margin-left: 0px;
                        }
                        
                    }
                    .item:hover {
                        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                    } 
                    .item-inner{
                        display: block;
                        text-align: center;
                        
                    }
                    .item-icon{
                        font-size: 1.875rem;
                        max-width: 45%;
                        svg{
                            padding-left: 62%;
                        }
                        
                    }
                }
            }
        }
        
        #section-first{
            background-color: #e8e5dd7c;
        }
        
        .projetos{
            .container{
                div{
                    
                    .item-projetos{
                        background: #ffffff;
                        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
                        -webkit-transform: scale(1);
                        transform: scale(1);
                        -webkit-transition: .3s ease-in-out;
                        transition: .3s ease-in-out; 
                        
                        
                        
                    }
                    .img-projetos{
                        @media (max-width: 589px){
                            width: 100%;
                        }
                        
                    }
                    .item-projetos:hover {
                        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                        -webkit-transform: scale(1.1);
                        transform: scale(1.04);
                    }
                    
                }
            }
        }
        #collapseExample{
            margin-top: 5px;
            position: absolute;
            margin-left: 60vh;
            @media (max-width: 1189px){
                position:static;
                margin-left: 0;
                margin-top: 20px;
                
            }
            @media (max-width: 1650px) and (min-width:1188px){
                margin-left: 74vh;
                
            }
            /*@media (max-width: 1280px) and (min-width:925px){
                margin-left: 74vh;
                
            }*/
            
        }
        #collapseExample2{
            margin-top: 5px;
            position: absolute;
            margin-left: 60vh;
            @media (max-width: 1189px){
                position:static;
                margin-left: 0;
                margin-top: 20px;
            }
            @media (max-width: 1650px) and (min-width:1280px){
                margin-left: 74vh;
                
            }
            
        }
        #collapseExample3{
            margin-top: 5px;
            position: absolute;
            margin-left: 60vh;
            @media (max-width: 1189px){
                position:static;
                margin-left: 0;
                margin-top: 20px;
            } 
            @media (max-width: 1650px) and (min-width:1280px){
                margin-left: 74vh;
                
            }  
        }
        #collapseExample4{
            margin-top: 100px;
            
            @media (max-width: 1189px){
                position:static;
                margin-left: 0;
                margin-top: 20px;
            } 
            @media (max-width: 1650px) and (min-width:1280px){
                margin-left: 74vh;
                
            }div{
                background-color: white;
            }  
        }
        .teste-cola{
            background-color: transparent!important; 
           .bg-light{
            background-color: black;  
           } 
        }
        
    }
    
    /*@media (max-width: 991.98px)
    .header .blog-name {
        width: 100%;
        position: absolute;
        left: 0;
        top: 1.2rem;
    }*/